<style>
  body: {
    display: none;
  }

  img#lcp {
    min-width: 640px;
    min-height: 480px;
    border: 1px solid;
  }
  img#cls {
    broder: 1px dashed;
  }
  #shade {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
  }

  td {
    border: 1px solid black;
  }

  table#settings {
    padding: 5px;
  }
  #timings table {
    padding: 0;
  }
  #timings td {
    padding: 0.1em;
  }
  #timings h2 {
    margin: 0;
    font-size: 8em;
  }

</style>

<body style="display: none">
  <div id="shade"></div>

  <h1>https://web.dev/vitals test page</h1>

  <fieldset>
    <legend>CLS</legend>
    <img alt="CLS" id="cls" src="/assets/640x100.jpg?ttfb={{ .cls }}&timestamp={{ .timestamp }}"></img>
  </fieldset>

  <fieldset id="timings">
    <legend>timings (in ms)</legend>
    <table>
      <tr>
        <td>
          <h2>TTFB <span id="ttfbEl"></span></h2>
        </td>
        <td colspan=2>
          <h2>DOM <span id="domEl"></span></h2>
        </td>
      </tr>
      <tr>
        <td>
          <h2>FCP <span id="fcpEl"></span></h2>
        </td>
        <td>
          <h2>LCP <span id="lcpEl"></span></h2>
        </td>
        <td>
          <h2>CLS <span id="clsEl"></span></h2>
        </td>
      </tr>
    </table>
  </fieldset>

  <fieldset>
    <legend>LCP</legend>
    <img alt="LCP" id="lcp" src="/assets/robot.jpg?ttfb={{ .lcp }}&timestamp={{ .timestamp }}"></img>
  </fieldset>

  <fieldset>
    <legend>Settings</legend>
    <p>
      current settings: <a href="?ttfb={{ .ttfb }}&dom={{ .dom }}&fcp={{ .fcp }}&lcp={{ .lcp }}&cls={{ .cls }}&seq={{ .seq }}">
        ?ttfb={{ .ttfb }}&dom={{ .dom }}&fcp={{ .fcp }}&lcp={{ .lcp }}&cls={{ .cls }}&seq={{ .seq }}
      </a>
    </p>

    <table id="settings">
      <tr>
        <td>TTFB</td><td>{{ .ttfb }}</td>
        <td>DOM</td><td>{{ .dom }}</td>
        <td>FCP</td><td>{{ .fcp }}</td>
        <td>LCP</td><td>{{ .lcp }}</td>
        <td>CLS</td><td>{{ .cls }}</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>timestamp</td><td>{{ .timestamp }}</td>
        <td>seq</td><td>{{ .seq }}</td>
      </tr>
    </table>
  </fieldset>

  <script>
    setTimeout(()=>{
      document.body.style.display = "block";
    }, {{ .fcpMillis }});
  </script>

  <script>
    window.onbeforeunload = function() {
      shade.style.display = "block";
    }
  </script>

  <script>
    (function() {
      const poLcp = new PerformanceObserver((entryList) => {
        console.log("lcp", entryList);
        var entries = entryList.getEntries();
        if (entries.length > 0) {
          lcpEl.textContent = Math.round(entries[entries.length - 1].startTime);
        }
      });
      const poCls = new PerformanceObserver((entryList) => {
        console.log("cls", entryList);
        var entries = entryList.getEntries();
        if (entries.length > 0) {
          clsEl.textContent = Math.round(entries[entries.length - 1].startTime);
        }
      });

      poLcp.observe({type: 'largest-contentful-paint', buffered: true});
      poCls.observe({type: 'layout-shift', buffered: true});
    })();
  </script>

  <script>
    setInterval(()=> {
      var ttfb = Math.round(performance.getEntriesByType('navigation')[0]['responseEnd']);
      var dom = Math.round(performance.getEntriesByType('navigation')[0]['domContentLoadedEventEnd']);
      var fcp = Math.round(performance.getEntriesByName('first-contentful-paint')[0] && performance.getEntriesByName('first-contentful-paint')[0]['startTime'])

      ttfbEl.textContent = ttfb;
      domEl.textContent = dom;
      fcpEl.textContent = fcp;

    }, 100)
  </script>
  <script src="/assets/empty.js?ttfb={{ .dom }}&timestamp={{ .timestamp }}"></script>
</body>
