<style>
  body: {
    display: none;
  }

  h1 {
    font-size: 1em;
  }

  img#lcp {
    min-width: 400px;
    min-height: 267px;
    border: 1px solid;
  }
  img#cls {
    broder: 1px dashed;
  }

  #shade #chromeRequired {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
  }

  td {
    border: 1px solid black;
  }

  tr {
    vertical-align: top;
  }

  #timings td {
    padding: 1em;
  }

  table#settings {
    padding: 5px;
  }
  #log li {
    font-size: 4em;
  }

  h2 {
    margin: 0;
    font-size: 4em;
  }
  .timing {
    margin: 0;
    font-size: 8.5em;
  }
  .cls {
    background-color: red;
  }
  .lcp {
    background-color: lightgreen !important;
  }

</style>

<body style="display: none">
  <script>
    var isChrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
    if (!isChrome) {
      window.location.href = "/assets/chromeonly.html"
    }
  </script>

  <div id="shade"></div>

  <h1>https://web.dev/vitals test page</h1>

  <fieldset>
    <legend>CLS</legend>
    <img alt="CLS" id="cls" src="/assets/cls.webp?ttfb={{ .cls }}&timestamp={{ .timestamp }}"></img>
  </fieldset>

  <table>
    <tr>
      <td style="width: 480px;">
        <fieldset>
          <legend>LCP</legend>
          <img alt="LCP" id="lcp" src="/assets/robot.jpg?ttfb={{ .lcp }}&timestamp={{ .timestamp }}"></img>
        </fieldset>

        <h2>CLS</h2><p class="timing" id="clsEl"></p>
      </td>
      <td>
        <fieldset id="timings">
          <legend>Timings (in ms)</legend>
          <table>
            <tr>
              <td>
                <h2>TTFB</h2><p class="timing" id="ttfbEl"></p>
              </td>
              <td colspan=2>
                <h2>DOM</h2><p class="timing" id="domEl"></p>
              </td>
            </tr>
            <tr>
              <td>
                <h2>FCP</h2><p class="timing" id="fcpEl"></p>
              </td>
              <td>
                <h2>LCP</h2><p class="timing" id="lcpEl"></p>
              </td>
            </tr>
          </table>
        </fieldset>
      </td>
    </tr>
  </table>

  <fieldset>
    <legend>Settings</legend>
    <p>
      current settings: <a href="?ttfb={{ .ttfb }}&dom={{ .dom }}&fcp={{ .fcp }}&lcp={{ .lcp }}&cls={{ .cls }}&highlight={{ .highlight }}&seq={{ .seq }}">
        ?ttfb={{ .ttfb }}&dom={{ .dom }}&fcp={{ .fcp }}&lcp={{ .lcp }}&cls={{ .cls }}&highlight={{ .highlight }}&seq={{ .seq }}
      </a>
    </p>

    <pre>
TTFB (additional server side sleep): {{ .ttfb }}
DOM: {{ .dom }}
FCP: {{ .fcp }}
LCP: {{ .lcp }}
CLS: {{ .cls }}

timestamp (for cache busting): {{ .timestamp }}
highlight (CLS, LCP elements): {{ .highlight }}
seq: {{ .seq }}
    </pre>
  </fieldset>

  <fieldset>
    <legend>Log</legend>
    <ul id="log"></ul>
  </fieldset>
  <script>
    window.__log = (message) => {
      var el = document.createElement("li");
      el.textContent = (new Date()).toISOString() + " " + message;

      log.appendChild(el);
    }
  </script>

  <script>
    setTimeout(()=>{
      document.body.style.display = "block";
    }, {{ .fcpMillis }});
  </script>

  <script>
    window.onbeforeunload = function() {
      shade.style.display = "block";
    }
  </script>

  <script>
    (function() {
      const poLcp = new PerformanceObserver((entryList) => {
        console.log("lcp", entryList.getEntries());
        var entries = entryList.getEntries();
        if (entries.length > 0) {
          var lastEntry = entries[entries.length - 1];
          var lcpTime = Math.round(lastEntry.startTime);

          __log("new LCP timing: " + lcpTime);
          lastEntry.element.classList.add("lcp")
          setTimeout(()=>{
            lastEntry.element.classList.remove("lcp");
          }, {{ .highlight }})

          lcpEl.textContent = lcpTime;
        }
      });
      const poCls = new PerformanceObserver((entryList) => {
        console.log("cls", entryList.getEntries());
        var entries = entryList.getEntries();
        if (entries.length) {
          var lastEntry = entries[entries.length - 1];
          var clsValue = lastEntry.value.toFixed(3);

          __log("new CLS value: " + clsValue);

          clsEl.textContent = clsValue;
          lastEntry.sources.forEach((layoutshiftAttribution) => {
            layoutshiftAttribution.node.classList.add("cls");
            setTimeout(()=>{
              layoutshiftAttribution.node.classList.remove("cls");
            }, {{ .highlight }})
          })
        }
      });

      poLcp.observe({type: 'largest-contentful-paint', buffered: true});
      poCls.observe({type: 'layout-shift', buffered: true});
    })();
  </script>

  <script>
    var fetchPerf = () => {
      var ttfb = Math.round(performance.getEntriesByType('navigation')[0]['responseEnd']);
      var dom = Math.round(performance.getEntriesByType('navigation')[0]['domContentLoadedEventEnd']);
      var fcp = Math.round(performance.getEntriesByName('first-contentful-paint')[0] && performance.getEntriesByName('first-contentful-paint')[0]['startTime'])

      ttfbEl.textContent = ttfb;
      if (dom > 0) {
        domEl.textContent = dom;
      }
      if (!isNaN(fcp)) {
        fcpEl.textContent = fcp;
      }

      if (dom < 1 || isNaN(fcp)) {
        setTimeout(fetchPerf, 25);
      }
    }
    fetchPerf()

  </script>
  <script src="/assets/empty.js?ttfb={{ .dom }}&timestamp={{ .timestamp }}"></script>
</body>
